---
import RootHTML from "../components/RootHTML.astro";
import PageHeader from "../components/PageHeader.astro";
import SwitchThemeIconButton from "../components/DarkSwitchButton.astro";
import PageMeta from "../components/PageMeta.astro";
import { Variant } from "@material/material-color-utilities";
import "../global.css";
import ComponentPreview from "../components/ComponentPreview.astro";
import VersionRadioGroup from "../components/VersionRadioGroup.astro";
import CSSStyleRadioGroup from "../components/CSSStyleRadioGroup.astro";
import PalettePreview from "../components/PalettePreview.astro";
import ColorPreview from "../components/ColorPreview.astro";

const Variants = [
    ["Monochrome", Variant.MONOCHROME],
    ["Neutral", Variant.NEUTRAL],
    ["TonalSpot", Variant.TONAL_SPOT, true],
    ["Vibrant", Variant.VIBRANT],
    ["Expressive", Variant.EXPRESSIVE],
    ["Fidelity", Variant.FIDELITY],
    ["Content", Variant.CONTENT],
    ["Rainbow", Variant.RAINBOW],
    ["FruitSalad", Variant.FRUIT_SALAD],
] as const satisfies ReadonlyArray<readonly [string, Variant, boolean?]>;
---

<RootHTML>
    <PageMeta title="Material Theme Builder | From Sandlada Team" description="With just a few simple parameters, you can quickly build CSS style code for Material Design 3 (including spec versions for 2021 and 2025)." slot="head" />

    <script slot="before-head">
        if (localStorage.getItem("is-dark") === "true") {
            // @ts-ignore
            document.isDark = true;
            document.documentElement.setAttribute("dark", "");
        } else {
            // @ts-ignore
            document.isDark = false;
            document.documentElement.removeAttribute("dark");
        }

        document.addEventListener("color-scheme:change-to-dark-theme", () => {
            // @ts-ignore
            document.isDark = true;
            localStorage.setItem("is-dark", "true");
            document.documentElement.setAttribute("dark", "");
        });
        document.addEventListener("color-scheme:change-to-light-theme", () => {
            // @ts-ignore
            document.isDark = false;
            localStorage.setItem("is-dark", "false");
            document.documentElement.removeAttribute("dark");
        });
    </script>

    <div class="content" slot="body">
        <PageHeader>
            <h1 slot="title" part="title" class="title-medium">Material Theme Builder</h1>
            <SwitchThemeIconButton slot="end" />
        </PageHeader>

        <div class="left-panel">
            <div class="theme-control">
                <form class="picker-panel" id="theme-config-form">
                    <label class="color-picker source-color-picker">
                        <span class="title">SourceColor</span>
                        <input name="source-color" id="source-color" value="#69dd71" type="color" />
                        <md-focus-ring for="source-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker primary">
                        <h3 class="title">Primary</h3>
                        <md-switch name="enable-primary-palette-option"></md-switch>
                        <input name="primary-palette" id="primary-palette-color" type="color" />
                        <md-focus-ring for="primary-palette-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker secondary">
                        <h3 class="title">Secondary</h3>
                        <md-switch name="enable-secondary-palette-option"></md-switch>
                        <input name="secondary-palette" id="secondary-palette-color" type="color" />
                        <md-focus-ring for="secondary-palette-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker tertiary">
                        <h3 class="title">Tertiary</h3>
                        <md-switch name="enable-tertiary-palette-option"></md-switch>
                        <input name="tertiary-palette" id="tertiary-palette-color" type="color" />
                        <md-focus-ring for="tertiary-palette-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker error">
                        <h3 class="title">Error</h3>
                        <md-switch name="enable-error-palette-option"></md-switch>
                        <input name="error-palette" id="error-palette-color" type="color" />
                        <md-focus-ring for="error-palette-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker neutral">
                        <h3 class="title">Neutral</h3>
                        <md-switch name="enable-neutral-palette-option"></md-switch>
                        <input name="neutral-palette" id="neutral-palette-color" type="color" />
                        <md-focus-ring for="neutral-palette-color"></md-focus-ring>
                    </label>
                    <label class="color-picker palette-picker neutral-variant">
                        <h3 class="title">NeutralVariant</h3>
                        <md-switch name="enable-neutral-variant-palette-option"></md-switch>
                        <input name="neutral-variant-palette" id="neutral-variant-palette-color" type="color" />
                        <md-focus-ring for="neutral-variant-palette-color"></md-focus-ring>
                    </label>
                    <span class="contrast-picker">
                        <h3 class="title">Contrast Level</h3>
                        <md-slider name="contrast" type="range" min="-1" max="1" value="0" step="1" ticks labeled></md-slider>
                    </span>
                    <label class="variant-picker">
                        <h3 class="label-medium">Variant</h3>
                        <md-outlined-select name="variant">
                            {
                                Variants.map(([k, v, d]) => (
                                    <md-select-option value={v} selected={d}>
                                        <div slot="headline">{k}</div>
                                    </md-select-option>
                                ))
                            }
                        </md-outlined-select>
                    </label>

                    <span class="version-picker">
                        <VersionRadioGroup />
                    </span>
                </form>
            </div>

            <PalettePreview />
            <ColorPreview />
            <ComponentPreview />
        </div>

        <div class="code-preview-wrapper right-panel">
            <span class="css-style-mode-picker">
                <CSSStyleRadioGroup />
            </span>
            <pre class="code-preview" id="code-preview" aria-label="The code result."><code id="code" /></pre>
        </div>
    </div>
</RootHTML>

<script>
    import { argbFromHex, Hct, hexFromArgb, TonalPalette, type Variant } from "@material/material-color-utilities";
    import { MaterialColorService } from "../services/material-color.service";
    import { MaterialPaletteService } from "../services/material-palette.service";
    import { toKebabCase } from "../utils/to-kebab-case";

    class ThemeController {
        private constructor() {}

        public static fromPalettesToCSS(
            palettes: {
                name: string;
                palette: {
                    tone: number;
                    color: number;
                }[];
            }[],
        ) {
            return (
                ":root{" +
                palettes.reduce((p, c) => {
                    return p + c.palette.reduce((pp, cc) => pp + `--md-sys-palette-${c.name}-${cc.tone}: ${hexFromArgb(cc.color)};`, "");
                }, "") +
                "}"
            );
        }

        public static fromColorsToCSS(args: { theme: Record<"light" | "dark", { name: string; hct: Hct; palette: TonalPalette }[]>; cssStyleMode: "classic" | "scheme" }) {
            const { cssStyleMode, theme } = args;
            const { light, dark } = theme;

            if (cssStyleMode === "classic") {
                const lightCss = light.reduce((p, c) => p + `--md-sys-color-${toKebabCase(c.name)}: ${hexFromArgb(c.hct.toInt())};`, "");
                const darkCss = dark.reduce((p, c) => p + `--md-sys-color-${toKebabCase(c.name)}: ${hexFromArgb(c.hct.toInt())};`, "");
                return `:root:not([dark]){${lightCss}}:root[dark]{${darkCss}}`;
            } else {
                const lightDarkSchemeMap = new Map<string, [string, string]>([]);
                light.forEach((c) => {
                    lightDarkSchemeMap.set(toKebabCase(c.name), [hexFromArgb(c.hct.toInt()).toString(), hexFromArgb(c.hct.toInt()).toString()]);
                });
                dark.forEach((c) => {
                    const lightValue = lightDarkSchemeMap.get(toKebabCase(c.name))![0];
                    lightDarkSchemeMap.set(toKebabCase(c.name), [lightValue, hexFromArgb(c.hct.toInt()).toString()]);
                });
                return `:root{${[...lightDarkSchemeMap.entries()].reduce((p, [k, v]) => p + `--md-sys-color-${k}: light-dark(${v[0]}, ${v[1]});`, "")}}`;
            }
        }

        public static updateTheme(style: string) {
            const sheet = new CSSStyleSheet();
            sheet.replaceSync(style);
            document.adoptedStyleSheets = [sheet];
        }
    }

    function getDataFromForm(formElement: HTMLFormElement) {
        const data = new FormData(formElement);
        const config = {
            contrast: data.get("contrast") as string,
            variant: data.get("variant") as string,
            sourceColor: data.get("source-color") as string,
            primaryPalette: data.get("enable-primary-palette-option") === "on" ? (data.get("primary-palette") as string) : null,
            secondaryPalette: data.get("enable-secondary-palette-option") === "on" ? (data.get("secondary-palette") as string) : null,
            tertiaryPalette: data.get("enable-tertiary-palette-option") === "on" ? (data.get("tertiary-palette") as string) : null,
            errorPalette: data.get("enable-error-palette-option") === "on" ? (data.get("error-palette") as string) : null,
            neutralPalette: data.get("enable-neutral-palette-option") === "on" ? (data.get("neutral-palette") as string) : null,
            neutralVariantPalette: data.get("enable-neutral-variant-palette-option") === "on" ? (data.get("neutral-variant-palette") as string) : null,
            cssStyleMode: (data.get("css-style-mode") as "classic" | "scheme") ?? "scheme",
            specVersion: (data.get("spec-version") as "2021" | "2025") ?? "2025",
        };
        return config;
    }

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector<HTMLFormElement>(`#theme-config-form`);
        const cssStyleModeRadios = document.querySelectorAll<HTMLInputElement>(`md-radio[name="css-style-mode"]`);
        const codeElement = document.querySelector<HTMLElement>(`#code-preview>#code`);

        let timer: ReturnType<typeof setTimeout> | null = null;
        const updateTheme = () => {
            if (timer !== null) {
                clearTimeout(timer);
                timer = null;
            }
            timer = setTimeout(() => {
                if (!form) return;
                const config = getDataFromForm(form);

                const theme = MaterialColorService.createTheme({
                    sourceColor: Hct.fromInt(argbFromHex(config.sourceColor)),
                    contrast: parseInt(config.contrast) as -1 | 0 | 1,
                    variant: parseInt(config.variant) as Variant,
                    specVersion: config.specVersion,
                    palettes: {
                        primaryPalette: config.primaryPalette ? TonalPalette.fromInt(argbFromHex(config.primaryPalette)) : undefined,
                        secondaryPalette: config.secondaryPalette ? TonalPalette.fromInt(argbFromHex(config.secondaryPalette)) : undefined,
                        tertiaryPalette: config.tertiaryPalette ? TonalPalette.fromInt(argbFromHex(config.tertiaryPalette)) : undefined,
                        errorPalette: config.errorPalette ? TonalPalette.fromInt(argbFromHex(config.errorPalette)) : undefined,
                        neutralPalette: config.neutralPalette ? TonalPalette.fromInt(argbFromHex(config.neutralPalette)) : undefined,
                        neutralVariantPalette: config.neutralVariantPalette ? TonalPalette.fromInt(argbFromHex(config.neutralVariantPalette)) : undefined,
                    },
                });
                const tokensCSS = ThemeController.fromColorsToCSS({ theme, cssStyleMode: config.cssStyleMode });
                const palettes = Object.entries(theme.palettes).map(([key, palette]) => ({
                    name: key.replace("Palette", ""),
                    palette: MaterialPaletteService.createPalette({
                        palette,
                        tones: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100],
                    }),
                }));
                const palettesCSS = ThemeController.fromPalettesToCSS(palettes);

                const keyColors =
                    `--md-sys-color-primary-key-color:${hexFromArgb(theme.palettes.primaryPalette.keyColor.toInt())};` +
                    `--md-sys-color-secondary-key-color:${hexFromArgb(theme.palettes.secondaryPalette.keyColor.toInt())};` +
                    `--md-sys-color-tertiary-key-color:${hexFromArgb(theme.palettes.tertiaryPalette.keyColor.toInt())};` +
                    `--md-sys-color-error-key-color:${hexFromArgb(theme.palettes.errorPalette.keyColor.toInt())};` +
                    `--md-sys-color-neutral-key-color:${hexFromArgb(theme.palettes.neutralPalette.keyColor.toInt())};` +
                    `--md-sys-color-neutral-variant-key-color:${hexFromArgb(theme.palettes.neutralVariantPalette.keyColor.toInt())};`;

                const allCss = (`:root{${keyColors}}` + tokensCSS + palettesCSS).replaceAll("--md", "\n    --md").replaceAll("neutralVariant", "neutral-variant").replaceAll(":root{", "\n:root{").replaceAll("}", "\n}\n");

                ThemeController.updateTheme(allCss);

                if (codeElement) {
                    codeElement.textContent = allCss;
                }

                if (timer !== null) {
                    clearTimeout(timer);
                    timer = null;
                }
            }, 50);
        };

        form?.addEventListener("input", updateTheme);
        console.log(cssStyleModeRadios);
        cssStyleModeRadios.forEach((input) => {
            input.addEventListener("input", () => {
                form?.dispatchEvent(new InputEvent("input"));
            });
        });

        form?.dispatchEvent(new InputEvent("input"));
    });
</script>

<script>
    import "@material/web/focus/md-focus-ring.js";
    import "@material/web/icon/icon.js";
    import "@material/web/iconbutton/icon-button.js";
    import "@material/web/radio/radio.js";
    import "@material/web/ripple/ripple.js";
    import "@material/web/select/outlined-select.js";
    import "@material/web/select/select-option.js";
    import "@material/web/slider/slider.js";
    import "@material/web/switch/switch.js";
</script>

<style is:global>
    @reference "../global.css";

    .color-picker {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;

        & > input {
            all: unset;
            display: flex;
            height: 48px;
            width: 48px;
            position: relative;
            outline: none;
            border: none;
            border-radius: inherit;
        }

        & > .text {
            @apply text-body-medium;
        }

        & > md-focus-ring {
            --md-focus-ring-shape: 0px;
        }
    }

    @media (840px < width) {
        body {
            min-height: 100dvh;
            max-height: 100dvh;
            overflow: clip;
            display: flex;
        }
    }
    @media (1200px < width) {
        body {
            border-radius: 24px;
            padding: 4px;
            min-height: 100dvh;
            max-height: 100dvh;
            overflow: clip;
            display: flex;
        }
    }

    .content {
        min-height: 100%;
        overflow: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-block-end: 12px;
        gap: 4px;

        background: var(--md-sys-color-surface);

        @media (840px < width) {
            & {
                max-height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto 1fr auto;
                overflow: clip;

                max-width: 1600px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (1200px < width) {
            & {
                border-radius: 24px;
            }
        }

        .page-header {
            grid-row: 1/2;
            grid-column: 1/-1;
        }

        .left-panel {
            grid-row: 2/3;
            grid-column: 1/-1;
            overflow: auto;

            @media (840px < width) {
                grid-row: 2/3;
                grid-column: 1/2;
            }
        }

        .right-panel {
            grid-row: 3/4;
            grid-column: 1/-1;
            @media (840px < width) {
                grid-row: 2/3;
                grid-column: 2/3;
            }
        }
    }

    .right-panel.code-preview-wrapper {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
        padding-inline: 12px;

        & > pre {
            border-radius: 24px;
            border: 1px solid var(--md-sys-color-outline-variant);
            position: static;
            overflow: auto;
            padding: 24px;
            height: calc(100svh - 56px - 48px - 8px);
            background-color: var(--md-sys-color-surface-container-low);
            transition-property: height, background, box-shadow;
            transition-duration: 200ms;
        }

        & > pre > code {
            display: block;
            color: var(--md-sys-color-on-surface);
            font-size: 14px;
        }

        & > .css-style-mode-picker {
            display: flex;
            align-items: center;
            gap: 32px;
            justify-content: space-evenly;
            height: 48px;
        }
    }

    .left-panel {
        display: flex;
        flex-direction: column;
        gap: 32px;
        height: 100%;
        padding-inline: 12px;
    }

    .picker-panel {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);

        & > .source-color-picker,
        & > .color-picker,
        & > .palette-picker {
            & .title {
                color: var(--md-sys-color-on-surface);
            }
        }

        & > .color-picker.palette-picker:is(.primary, .secondary, .tertiary) {
            grid-column: span 2;
        }
        & > .color-picker.palette-picker:is(.error, .neutral, .neutral-variant) {
            grid-column: span 2;
        }

        & > .source-color-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-row: 1/2;
            grid-column: 1/-1;
        }

        & > .contrast-picker {
            grid-column: span 3;
            align-self: center;
            justify-self: center;
        }

        & > .variant-picker {
            grid-column: span 3;
            align-self: center;
            justify-self: center;
        }

        & > .palette-picker {
            display: flex;
            flex-direction: column;
            align-items: center;
            --md-switch-track-width: 44px;
            --md-switch-track-height: 28px;
        }

        .version-picker {
            grid-column: 1 / -1;
            display: flex;
            justify-content: space-evenly;
            gap: 12px;
            & > label {
                display: inline-flex;
                align-items: center;
                gap: 4px;
            }
        }
    }
</style>
